/.venv/
/hecat.egg-info/
/dist/
/build/
/tests/audio
/tests/video
/tests/shaarli.yml
/tests/html-table
/tests/awesome-selfhosted
/tests/awesome-selfhosted-data
/tests/awesome-selfhosted-html
/tests/requirements.txt
/trivy
/trivy_0.43.0_Linux-64bit.tar.gz
/tests/webpages/
tests/hecat.log
.vscode/tasks.json
